<ion-header>
  <!-- <ion-navbar>
    <ion-title>Smarturbem</ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content no-padding>

  <div *ngIf="beaconData">
    <!-- <ion-card>
      <ion-card-header>
        Beacons
      </ion-card-header>
      <ion-card-content>
        <button ion-button (click)="startScanForBeacones()">Start Scan</button>
      </ion-card-content>
    </ion-card> -->

    <ion-card>
      {{random}}
      <img src="{{beaconData.data.img}}" />
      <ion-card-content>
        <ion-card-title>
          {{beaconData.data.title}}
        </ion-card-title>
        <p>
          {{beaconData.data.body}}
        </p>

        <ion-grid>
          <ion-row>
            <ion-col text-center>
              <button ion-button outline (click)="openDetails(beaconData.data)">Ver mas información</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  </div>

  <div id='main-content' *ngIf="!beaconData">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <img class="logo" src="assets/imgs/icon.png">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <p>No hay información cercana para mostrar</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>